{% extends "base.html" %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-outline mb-4">
      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
        <span class="form-text">
          {{ field.help_text|safe  }}
        </span>
      {% endif %}
    {% endfor %}
    </div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col">
        <!-- Simple link -->
        <a href="{% url "users:password_reset"%}" class="link-secondary link-underline link-underline-opacity-0">Забыли пароль?</a>
      </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
    <!-- Register buttons -->
    <div class="text-center">
      <p>Ещё не с нами? <a href="{% url "users:signup" %}" class="link-underline link-underline-opacity-0">Регистрация</a></p>
    </div>
  </form>
</section>
<div class="mx-auto mb-4 rounded-0" style="max-width: 35rem;">
  {% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use href="{% static "img/icons_messages.svg" %}#exclamation-triangle-fill"/></svg>
      <div>
        {{ error|escape }}
      </div>
    </div>
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use href="{% static "img/icons_messages.svg" %}#exclamation-triangle-fill"/></svg>
      <div>
        {{ error|escape }}
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  {% endif%}
</div>
{% endblock %}
