{% extends "base.html" %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <form method="post">
    {% csrf_token %}
    {% include "includes/form_for_page.html" %}
    <div class="row mb-4">
      <div class="col">
        <a href="{% url "users:password_reset"%}" class="link-secondary link-underline link-underline-opacity-0">Забыли пароль?</a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
    <div class="text-center">
      <p>Ещё не с нами? <a href="{% url "users:signup" %}" class="link-underline link-underline-opacity-0">Регистрация</a></p>
    </div>
  </form>
</section>
{% include "includes/form_errors.html" %}
{% endblock %}
