{% extends "base.html" %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="row mt-4">
  <div class="col text-center">
    <p>Забыли пароль? Введите почту которую вы использовали при
       регистрации и мы вышлем на нее письмо с инструкциями.</p>
  </div>
</div>
<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <form method="post">
    {% csrf_token %}
    {% include "includes/form_for_page.html" %}
    <div class="row mt-4">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block mb-4">Отправить</button>
      </div>
    </div>
  </form>
</section>
{% include "includes/form_errors.html" %}
{% endblock %}