{% extends "base.html" %}
{% load static %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% include "includes/form_for_page.html" %}
    <div class="row mt-4">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block mb-4">Сменить пароль</button>
      </div>
    </div>
  </form>
</section>
{% include "includes/form_errors.html" %}
{% endblock %}