{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css.map" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <title>{% block title %}Стандартный заголовок{% endblock %}</title>
  </head>
  <body>
    {% include "includes/header.html" %}
    {% block start_body %}{% endblock %}
    <main>
      <!--Изменяемая часть различная на всех страницах-->
      {% block content %}Тут пока что ничего нет{% endblock %}
    </main>
    {% include "includes/footer.html" %}
    {% block end_body %}{% endblock %}
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  </body>
</html>
