{% load i18n %}
<div id="server_time" style="display: none;">{% now "c" %}</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">
      <script>
        var today = new Date();
        var serverTime = document.getElementById("server_time");
        serverTime = new Date(serverTime.innerHTML)
        var timeDifference = today - serverTime;
        var hoursDifference = Math.abs(timeDifference / (1000 * 60 * 60));
        if (hoursDifference > 24) {
          document.write("Copyright &copy; " + today.getFullYear() + " Название компании. Все права защищены.");
        }
        else {
          document.write("Copyright &copy; " + serverTime.getFullYear() + " Название компании. Все права защищены.");
        }
      </script>
      <noscript>
        <p>Copyright &copy; {% now "Y" %} Название компании. Все права защищены.</p>
      </noscript>
    </p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url "homepage:home" %}" class="nav-link px-2 text-body-secondary">{% translate "На главную" %}</a></li>
      <li class="nav-item"><a href="{% url "catalog:item_list" %}" class="nav-link px-2 text-body-secondary">{% translate "Список товаров" %}</a></li>
      <li class="nav-item"><a href="{% url "about:about" %}" class="nav-link px-2 text-body-secondary">{% translate "О проекте" %}</a></li>
    </ul>
  </footer>
</div>