{% extends "base.html" %}
{% block head %}
  <title>{{ item.name }}</title>
  <style>
    /* Пользовательские стили для стрелок навигации */
    .carousel-control-prev .carousel-control-prev-icon,
    .carousel-control-next .carousel-control-next-icon {
      background-color: gray; /* Задайте желаемый цвет стрелок */
      color: white; /* Задайте цвет иконок (обычно белый) */
    }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ item.main_image.get_image_300x300.url }}" class="img-thumbnail img-fluid" alt="Главная пикча">
            {% if item.main_image.image %}
            <div class="container"><a class="btn btn-outline-primary btn-sm" href="{% url "download:download" item.main_image.image %}" role="button">Скачать ⇩</a></div>
            {% endif %}
          </div>
          <div class="col-md-6">
            {% if item.images.all %}
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for image in item.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ image.get_image_300x300.url}}" class="img-fluid img-thumbnail" alt="images">
                  <div class="carousel-caption">
                    <a class="btn btn-outline-secondary btn-sm position-absolute bottom-0 start-0" href="{% url "download:download" image.image %}" role="button">⇩</a>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h1 class="text-center">{{ item.name }}</h1>
        </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <span class="label label-primary p-1 bg-primary text-white rounded">{{ item.category.name }}</span>
          <span class="monospaced">No. {{ item.id }}</span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <h5 class="text-left mt-1">Описание:</h5>{{ item.text|safe }}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <h5 class="text-left mt-1">Теги:</h5>
          <span class="border border-primary p-1">{% for tag in item.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
        </div>
       </div>
     </div>
    </div><!-- end row -->
   </div><!-- end container -->
{% endblock %}
