{% extends "base.html" %}
{% load static %}
{% block head %}
  <title>Список товаров</title>
{% endblock %}
{% block content %}
  <h1 class="text-center">Список товаров</h1>
  <div class="container mt-1 mb-1" >
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in items %}
      {% include "includes/item_card.html" with card_title=item.name card_text=item.text card_category=item.category.name card_tags=item.tags card_href=item.id %}
      {% empty %}
        <p class="text-center">Ничего, к сожалению, нет</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
