{% extends "base.html" %}
{% block title %}Список товаров{% endblock %}
{% block content %}
  <h1 class="text-center">{% block header %}Список товаров{% endblock %}</h1>
  <div class="container mt-1 mb-1" >
    {% for item in items %}
      {% ifchanged  item.category.name %}
        {% if not forloop.first %}
          </div>
        {% endif %}
        <div class="row col-12 mx-auto mt-5">
          <h2 class="text-center">
            <span class="label label-primary bg-primary text-white rounded">{{ item.category.name }}</span>
          </h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      {% endifchanged %}
      {% include "includes/item_card.html" with card_title=item.name card_text=item.text card_category=item.category.name card_tags=item.tags card_href=item.id %}
    {% empty %}
      <p class="text-center">Ничего, к сожалению, нет</p>
    {% endfor %}
    </div>
  </div>
{% endblock %}

