{% extends "base.html" %}
{% load static %}
{% block head %}
  <title>Главная</title>
  <style>
    img {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
{% endblock %}
{% block content %}
  <h1 class="text-center">Главная страница</h1>

  <div class="container mt-4 mb-4" >
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Главная страница проекта с какой то информацией ghbkjjhgjf tcyfdyf8687687t86</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static "img/cat_django_project.jpg" %}" class="rounded mx-auto d-block mb-3" alt="Фотография котика">
      </div>
    </div>
  </div>

  <div class="container mt-1 mb-1" >
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in items %}
      {% include "includes/item_card.html" with card_title=item.name card_text=item.text card_category=item.category.name card_tags=item.tags card_href=item.id %}
      {% empty %}
        <p class="text-center">Ничего, к сожалению, нет</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}