{% extends "base.html" %}
{% load static %}
{% block head %}
  <title>Главная</title>
  <style>
    img {
      max-width: 100%;
      max-height: 100%;
    }
    p {
      font-size: 18px;
    }
  </style>
{% endblock %}
{% block content %}
  <h1 class="text-center">Главная страница</h1>

  <div class="container mt-4 mb-4" >
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Главная страница проекта с какой то информацией ghbkjjhgjf tcyfdyf8687687t86</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static "img/cat_django_project.jpg" %}" class="rounded mx-auto d-block mb-3" alt="Фотография котика">
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center">
    <div class="card mb-3 text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Товар N</h5>
        <p class="card-text">Что-то в описании товара</p>
        <a href="{% url "catalog:item_detail" "1" %}" class="btn btn-primary mt-3">Перейти к товару</a>
      </div>
    </div>
  </div>

{% endblock %}